body {
    background: url('./images/brian-mcgowan-kKyxIwvljBg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
#input {
    width: 50%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
 position: relative;
    top: 100px;
    left: 400px;
}
#submit {
    width: 10%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    position: relative;
    top: 170px;
    left: 250px;
}
#weather-info {
    width: 50%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    background-color: #ccc;
}